
# this file is important for building the docker image,
# preventing all files from being copied into it,
# except the ones defined below.

# Ignore:
#**/*

# Keep:
#!dashboard/**/*
#!manage.py
#!requirements.txt
#!pytest.ini

# Ignore Again
__pycache__
*.pyc
**/__pycache__/**
**/*.pyc
