# - - - - - - - - - - - - - - - - - - - - - - - - #
# Usage:                                          #
# $ pip3 install -r requirements.txt              #
# or                                              #
# $ python3.6 -m pip install -r requirements.txt  #
# - - - - - - - - - - - - - - - - - - - - - - - - #

# =============================================== #
# MAKE SURE TO ADD THE VERSION SO THAT IF A       #
# PACKAGE'S API CHANGES, WE AREN'T STUCK TRYING   #
# TO FIGURE OUT WHAT WENT WRONG!                  #
# =============================================== #


django==2.1.2
djangorestframework==3.8.2
django-rest-auth==0.9.3
django-cors-headers==2.4.0
djangorestframework-jwt==1.11.0
django-auth-ldap==1.7.0
drf-nested-routers==0.91
django-rest-swagger==2.2.0
jsonschema==2.6.0
uuid==1.30

# Code Coverage
pytest-django==3.4.2
coverage==4.5.1
pytest-cov==2.6.0

# Excel File Reader
xlrd==1.1.0
numpy==1.15.2
pandas==0.23.4

# queries
asteval==0.9.13

# graph generating
#django-extensions
#pygraphviz
#pydotplus
